packages:
    yum:
        mod24_ssl: []

files:
  "/etc/php.d/zapp.ini" :
    mode: "000755"
    owner: root
    group: root
    content: |
      upload_max_filesize = 32M
      max_execution_time = 300
      max_input_time = 300
      opcache.enable = 1
      zlib.output_compression = On
      memory_limit = 512M

commands:
    01_localtime:
        command: rm -rf /etc/localtime
    02_localtime:
        command: cp /usr/share/zoneinfo/Brazil/East /etc/localtime

container_commands:
    01_apache:
        command: "cp .ebextensions/httpd.conf /etc/httpd/conf/"
    02_apache:
        command: "sudo service httpd restart"
